@import './scss/normalize';
@import './scss/mixins';
@import './scss/template-selectors';
@import './scss/media';
@import './scss/keyframes';
@import './scss/fonts';
@import './scss/play-button';
@import './scss/rules';
@import './scss/book';
@import './scss/found-items';
@import './scss/_searched-item';

body {
	background-image: url('./images/main-background.jpg');
	background-size: cover;
	overflow: hidden;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	-webkit-tap-highlight-color: transparent;
}

.container {
	max-width: 1680px;
	margin: 0 auto;
	min-height: 100%;
}

.result-display {
	position: absolute;
	display: none;
	@include sizes(100vw,100vh);
	background: black;

	&_win {
		@include flexCenter;
		animation: display-win 5s infinite;
		z-index: 10;
		color: #00ff04;
	}

	&_defeat {
		@include flexCenter;
		animation: display-defeat 5s infinite;
		z-index: 10;
		color: #ff0000;
	}

	&__text {
		padding: 5px;
		user-select: none;
		letter-spacing: 5px;
		font-size: clamp(30px, 9vw, 130px);
		font-family: 'Rubik Maze', 'Merienda';
	}

	&__button {
		position: absolute;
		top: 5%;
		@include sizes(54px,46px);
		z-index: 25;
		fill: white;

		&_win {
			animation:
				shake 1s infinite,
				changeColorWin 1s infinite;
		}

		&_defeat {
			animation:
				shake 1s infinite,
				changeColorDefeat 1s infinite;
		}
	}
}

.devil {
	position: absolute;
	display: none;
	width: 110px;
	z-index: 1;
	user-select: none;

	&_show {
		display: block;
	}
}