.questions {
	@media screen and (max-width: 880px) {
		left: calc(50% - 300px);
		width: 600px;
		height: 80px;
		font-size: 26px;
	}

	@media screen and (max-width: 680px) {
		left: calc(50% - 200px);
		width: 400px;
		font-size: 18px;
		height: 70px;
	}

	@media screen and (max-width: 440px) {
		left: calc(50% - 140px);
		width: 280px;
		height: 50px;
		font-size: 12px;
	}
}

.book {
	@media screen and (max-height: 460px) {
		width: 150px;
		height: 150px;
	}
}
