.found-items {
	@media screen and (max-width: 920px) {
		left: calc(50% - 350px);
		width: 700px;
		height: 62px;

		&__pento {
			height: 50px;
		}
	}

	@media screen and (max-width: 750px) {
		left: calc(50% - 275px);
		width: 550px;
		height: 52px;

		&__pento {
			height: 40px;
		}
	}

	@media screen and (max-width: 650px) {
		left: calc(50% - 240px);
		width: 480px;
		height: 50px;

		&__pento {
			height: 38px;
		}
	}

	@media screen and (max-width: 500px) {
		left: calc(50% - 205px);
		width: 410px;
		height: 46px;

		&__pento {
			height: 35px;
		}
	}

	@media screen and (max-width: 450px) {
		left: calc(50% - 170px);
		width: 340px;
		height: 40px;

		&__pento {
			height: 26px;
		}
	}

	@media screen and (max-width: 360px) {
		left: calc(50% - 155px);
		width: 310px;
		height: 38px;

		&__pento {
			height: 24px;
		}
	}
}

.book {
	@media screen and (max-height: 560px) {
		width: 150px;
		height: 150px;
	}
}

.searched-item {
	@media screen and (max-width: 600px) {
		box-sizing: content-box;
		padding: 5px;
		width: 27px;
		height: 27px;
	}
}

.play {
	@media screen and (max-width: 650px) {
		width: 70px;
		left: calc(50% - 35px);
	}
}