.questions {
	@media screen and (max-width: 880px) {
		left: calc(50% - 325px);
		width: 650px;
		height: 80px;

		&__pento {
			width: 55px;
			height: 55px;
		}
	}

	@media screen and (max-width: 680px) {
		left: calc(50% - 250px);
		width: 500px;
		height: 70px;

		&__pento {
			width: 50px;
			height: 50px;
		}
	}

	@media screen and (max-width: 540px) {
		left: calc(50% - 160px);
		width: 320px;
		height: 50px;

		&__pento {
			width: 45px;
			height: 45px;
		}
	}
}

.book {
	@media screen and (max-height: 460px) {
		width: 150px;
		height: 150px;
	}
}
