@use './mixins';
@use './media';

.found-items {
	position: absolute;
	bottom: 2%;
	left: calc(50% - 360px);
	display: none;
	padding: 5px;
	@include mixins.sizes(720px, 62px);
	border-radius: 20px;
	border: 2px solid black;
	background-color: grey;

	&_show {
		display: flex;
		align-items: center;
		justify-content: space-evenly;
	}

	@include media.tablet {
		left: calc(50% - 285px);
		@include mixins.sizes(570px, 52px);
	}

	@include media.mobile {
		left: calc(50% - 220px);
		@include mixins.sizes(440px, 46px);
	}

	@include media.smallMobile {
		left: calc(50% - 187.5px);
		@include mixins.sizes(375px, 42px);
	}

	@include media.smallestMobile {
		left: calc(50% - 156px);
		@include mixins.sizes(312px, 35px);
	}

	&__pento {
		@include mixins.sizes(52px, 52px);
		cursor: auto;
		fill: black;

		@include media.tablet {
			@include mixins.sizes(44px, 44px);
		}

		@include media.mobile {
			@include mixins.sizes(36px, 36px);
		}

		@include media.smallMobile {
			@include mixins.sizes(30px, 30px);
		}

		@include media.smallestMobile {
			@include mixins.sizes(26px, 26px);
		}

		&_found {
			fill: #a00000;
		}

		&_shake {
			animation: questions-shake 1s infinite;
		}
	}
}