.result {
	position: absolute;
	display: none;
	@include sizes(100vw,100vh);
	background: black;

	&_win {
		@include flexCenter;
		animation: display-win 5s infinite;
		z-index: 10;
		color: #00ff04;
	}

	&_defeat {
		@include flexCenter;
		animation: display-defeat 5s infinite;
		z-index: 10;
		color: #ff0000;
		background-image: image-set(
			url('images/defeat-background-b.avif') type('image/avif'),
			url('images/defeat-background-b.webp') type('image/webp'),
		url('images/defeat-background-b.jpg') type('image/jpg')
		);
		background-size: cover;
		background-position:center;

		@include mobile {
			background-image: image-set(
				url('images/defeat-background-s.avif') type('image/avif'),
				url('images/defeat-background-s.webp') type('image/webp'),
			url('images/defeat-background-s.jpg') type('image/jpg')
			);
			background-position: center top;
		}
	}

	&__text {
		padding: 5px;
		user-select: none;
		letter-spacing: 5px;
		font-size: clamp(30px, 9vw, 130px);
		font-family: 'Rubik Maze', 'Merienda';
	}

	&__button {
		position: absolute;
		top: 5%;
		@include sizes(48px,48px);
		z-index: 25;
		fill: white;

		&_win {
			animation:
				shake 1s infinite,
				changeColorWin 1s infinite;
		}

		&_defeat {
			animation:
				shake 1s infinite,
				changeColorDefeat 1s infinite;
		}
	}
}