@use './mixins';

body {
	@include mixins.imageSet('main-background');
	background-size: cover;
	overflow: hidden;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	-webkit-tap-highlight-color: transparent;
}

.container {
	max-width: 1680px;
	margin: 0 auto;
	min-height: 100%;
}