@use './mixins';
@use './media';

.play {
	position: absolute;
	top: 2%;
	left: calc(50% - 38px);
	z-index: 5;
	@include mixins.sizes(76px, 76px);
	fill: rgb(255 255 255);

	&_active {
		animation: changeColor 1s infinite;
		cursor: default;
	}

	@include media.smallMobile {
		@include mixins.sizes(68px, 68px);
		left: calc(50% - 34px);
	}
}