.rules {
	position: absolute;
	z-index: 2;
	@include sizes(100vw,100vh);
	@include supports(height,100dvh);
	@include imageSet('rules-background');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;;

	&__language-btn {
		@extend %languageIcon;
	}

	&__inner {
		position: absolute;
		left: 50%;
		bottom: 50%;
		transform: translate(-50%,50%);
		padding: 6px;
		@include sizes(832px,355px);
		background-color: #ffffff96;
		border-radius: 3%;

		@include desktop {
			@include sizes(640px,339px);
		}

		@include tablet {
			width: 560px;
		}

		@include mobile {
			@include sizes(430px,345px);
		}

		@include smallMobile {
			padding: 3px;
			@include sizes(375px,310px);
		}

		@include smallestMobile {
			@include sizes(300px,318px);
		}
	}
	
	&__text {
		font-family: 'Caveat', serif;
			font-size: 30px;
			text-align: center;
			letter-spacing: 0.8px;
			user-select: none;
			color: black;

			@include desktop {
				font-size: 26px;
			}

			@include tablet {
				font-size: 24px;
			}

			@include mobile {
				font-size: 21px;
			}

			@include smallMobile {
				font-size: 19px;
			}

			@include smallestMobile {
				font-size: 17px;
			}
	}
}