@use './mixins';
@use './media';

.search-object {
	position: absolute;
	z-index: 1000000000;
	display: none;
	padding: 3px;
	box-sizing: content-box;
	@include mixins.sizes(34px, 34px);
	opacity: 0.25;
	fill: rgb(255, 255, 255);

	@include media.mobile {
		@include mixins.sizes(27px, 27px);
		padding: 5px;
	}
}