@import './media';

%languageIcon {
	position: absolute;
	bottom: 6px;
	right: 6px;
	@include sizes(40px,40px);

	@include mobile {
		@include sizes(34px,34px)
	}

	@include smallestMobile {
		@include sizes(32px,32px)
	}
}

%showResult {
	@include flexCenter;
	animation: result-animation 5s 2.8s infinite;
	z-index: 10;
	background-position: center;
	background-size: cover;
}