@import 'normalize';
@import 'keyframes';
@import '_fonts';

body {
	background-image: url('../../images/hell.jpg');
	background-size: cover;
	overflow: hidden;
}

.container {
	max-width: 1680px;
	margin: 0 auto;
	min-height: 100%;
}

.result-display {
	position: absolute;
	display: none;
	width: 100vw;
	height: 100vh;
	background: black;

	&_win {
		display: flex;
		justify-content: center;
		align-items: center;
		animation: display-win 5s infinite;
		z-index: 10;
		color: #00ff04;
	}

	&_loose {
		display: flex;
		justify-content: center;
		align-items: center;
		animation: display-loose 5s infinite;
		z-index: 10;
		color: #ff0000;
	}

	&__text {
		padding: 5px;
		user-select: none;
		letter-spacing: 5px;
		font-size: clamp(30px, 9vw, 130px);
		font-family: 'Rubik Maze', 'Merienda';
	}

	&__button {
		position: absolute;
		bottom: 5%;
		width: 54px;
		height: 46px;
		z-index: 25;
		fill: white;

		&_win {
			animation:
				shake 1s infinite,
				changeColorWin 1s infinite;
		}

		&_loose {
			animation:
				shake 1s infinite,
				changeColorLoose 1s infinite;
		}
	}
}

.pento {
	position: absolute;
	display: none;
	width: 33px;
	height: 33px;
	opacity: 0.2;
	cursor: auto;
	z-index: 100;
	fill: rgb(255, 0, 0);
	animation: changeColorPento 4s infinite;
}

.book {
	width: clamp(220px, 35vw, 300px);
	height: clamp(220px, 35vw, 300px);
	position: absolute;
	cursor: auto;

	&_red {
		animation: shake 1s infinite;
	}

	&_hide {
		display: none;
	}

	&__star_red {
		animation: changeColor 1s infinite;
	}

	&__ellipse_red {
		animation: changeColor 1s infinite;
	}
}

.devil {
	position: absolute;
	display: none;
	width: 110px;
	z-index: 1;

	&_show {
		display: block;
	}
}

.play {
	position: absolute;
	top: 2%;
	left: calc(50% - 45px);
	width: 90px;
	fill: rgb(255 255 255);
	z-index: 100000;

	&_active {
		animation: changeColor 1s infinite;
		cursor: auto;
	}
}

.questions {
	position: absolute;
	bottom: 5%;
	left: calc(50% - 440px);
	display: flex;
	align-items: center;
	justify-content: center;
	width: 880px;
	height: 72px;
	padding: 5px;
	border-radius: 20px;
	border: 2px solid black;
	background-color: grey;

	&__pento {
		height: 60px;
		cursor: auto;

		&_found {
			fill: #a00000;
		}

		&_shake {
			animation: questions-shake 1s infinite;
		}

		&:not(:last-child) {
			margin-right: 10px;
		}
	}
}

.rules {
	width: 100vw;
	height: 100vh;
	background-image: url('../../images/rules-background.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	position: absolute;
	z-index: 10000;

	&__inner {
		width: 1000px;
		height: 450px;
		background-color: #ffffff96;
		border-radius: 5%;
		position: absolute;
		left: calc(50% - 500px);
		bottom: calc(50% - 225px);
		display: flex;
		justify-content: center;
		align-items: flex-end;
		padding: 10px;

		&_en {
			width: 40px;
			height: 40px;
			position: absolute;
			top: 10px;
			right: 10px;
		}

		&_ru {
			display: none;
			width: 40px;
			height: 40px;
			position: absolute;
			top: 10px;
			right: 10px;
		}

		&-text {
			font-family: 'Caveat', serif;
			font-size: 34px;
			text-align: center;
			letter-spacing: 1.2px;
			user-select: none;
			color: black;
		}
	}
}

@import 'adaptive';
